<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    {{ template "breadcrumb" dict "currentPage" .Page }}
    </ol>
</nav>
<div class="container-fluid">
    <ol>
{{ define "breadcrumb" }}
{{ if .currentPage.Parent }}
{{ if ne .currentPage.Parent .IsHome }}
{{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
{{ end }}
        <li class="breadcrumb-item"><a href="{{ .currentPage.RelPermalink }}">{{ .currentPage.Title }}</a></li>
{{ end }}
{{ end }}
    </ol>
</div>