{{ if .IsNamedParams }}
<div class="card">
    <div class="card-body">
        {{ if (isset .Params "title") }}
            <h5 class="card-title">{{ .Get "title" }}</h5>
        {{ end }}
        {{ if (isset .Params "subtitle") }}
            <h6 class="card-subtitle mb-2 text-muted">{{ .Get "subtitle" }}</h6>
        {{ end }}    
        {{ .Inner }}
    </div>
</div>
{{ else }}
<pre><code class="{{.Get 0 }}"></code></pre>
<div class="card">
    <div class="card-body">
        {{ if (isset .Params 0) }}
            <h5 class="card-title">{{ .Get 0 }}</h5>
        {{ end }}
        {{ if (isset .Params 1) }}
            <h6 class="card-subtitle mb-2 text-muted">{{ .Get 1 }}</h6>
        {{ end }}    
        {{ .Inner }}
    </div>
</div>
{{ end }}